.add-edit-citations-page { 
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1.5rem;
  /*background-color: #fdfdfd;*/
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Citations Header */
.add-edit-citations-header {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: #2c3e50;
  font-weight: bold;
  padding-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


/* Tabs */

.tabs-container {
  display: flex;
  justify-content: flex-start;
  background-color: #2c3e50;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  
}

.tabs button,
  button[type="submit"],
  button[type="button"] {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  color: white;
  background-color: #2c3e50;
  transition: background-color 0.2s ease;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tabs button:hover {
  background-color: #ccc;
}

.tabs button.active {
  background-color: #0077cc;
  color: white;
}

/* Form */
form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #333;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fff;
}

/* Button group */
.form-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}



.form-container {
  padding: 0 1rem;
}

.save-button {
  background-color: #27ae60;
  color: white;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;

}

.save-button:hover {
  background-color: #219653;

}
.cancel-button {
  background-color: #979797;
  color: white;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

.cancel-button:hover {
  background-color: #bbb;
}



